#container {
    margin: 0 auto;
    text-align: center;
}

body {
    margin: 0 auto;
    text-align: center;
    height: 100%;
    background-image: url('5uda5QC.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
    font-size: 70px;
    color: white;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    border-width: 1px;
    width: 35%;
    display: inline-block;
}

h2 {
    font-size: 50px;
    color: white;
    margin: 0px;
}

.button {
     width: 150px;
     height: 55px;
     border-radius: 5px;
     border: 2px solid;
     margin-bottom: 5px;
     background-color: whitesmoke;
     font-family: 'Architects Daughter', cursive;
     font-size: 25px;
 }

.button:hover {
    background-color: beige;
    color: black;
}

input {
    margin-top: 30px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 20px;
    width: 250px;
    text-align: center;
    height: 43px;
}

ul {
    list-style-type: none;
}

#RegisterMenu {
    display: none;
}

#Sign-inMenu {
    display: none;
}

select {
    content: "";
    top: 14px;
    right: 10px;
}

#incorrect_login {
    display: none;
}

#DisplayStudyPlanner {
    display: none;
    color: white;
    font-size: 23px;
}

p {
    color: white;
    font-size: 20px;
}

#StudyPlanner {
    margin: 15px 0px;
}