html {
    height: 100%;
    background-image: url('StudyPlannerBackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

body {
    margin: 0 auto;
    text-align: center;
    height: 100%;
}

h1 {
    font-size: 70px;
    color: white;
    background-color: gray;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
}

h2 {
    font-size: 50px;
    color: white;
}

.button {
     width: 150px;
     height: 55px;
     border-radius: 15px;
     border: 2px solid;
     margin-bottom: 5px;
     background-color: whitesmoke;
     font-family: 'Architects Daughter', cursive;
     font-size: 25px;
 }

.button:hover {
    background-color: gray;
    color: black;
}

input {
    margin-top: 30px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 25px;
    width: 150px;
    text-align: center;
    height: 43px;
}

ul {
    list-style-type: none;
}